@using LumexUI.Common
@using LumexUI.Shared.Icons
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inherits LayoutComponentBase
@inject PinLockService PinLock
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav


<LumexToastProvider />

<div class="max-w-5xl mx-auto px-4">

    <LumexNavbar Sticky="@true">
        <LumexNavbarBrand>
            <LumexLink Href="/"
                       Color="@ThemeColor.None">
                <span class="font-bold text-xl">
                    Board<span class="font-normal">Games</span>
                </span>
            </LumexLink>
        </LumexNavbarBrand>


        <LumexNavbarContent Align="Align.End">
            <LumexNavbarItem>
                <LumexLink Href="/new-match"
                           Color="@ThemeColor.Primary">
                    @SharedResource.MainLayout_NewMatch
                </LumexLink>
            </LumexNavbarItem>
            <AuthorizeView>
                <Authorized Context="auth">
                    <LumexNavbarItem>
                        <LumexDropdown>
                            <LumexDropdownTrigger>
                                <LumexAvatar Name="@auth.User.Identity?.Name" />
                            </LumexDropdownTrigger>

                            <LumexDropdownMenu>
                                <LumexDropdownItem OnClick="@(() => Nav.NavigateTo("/profile"))">@BoardGames.Resources.SharedResource.Profile</LumexDropdownItem>
                                <LumexDropdownItem OnClick="@(() => Nav.NavigateTo("/settings"))">@BoardGames.Resources.SharedResource.Settings_Settings</LumexDropdownItem>
                                <LumexDropdownItem Color="ThemeColor.Danger" OnClick="Logout" Class="text-danger">
                                    Logout
                                </LumexDropdownItem>
                            </LumexDropdownMenu>
                        </LumexDropdown>
                    </LumexNavbarItem>
                </Authorized>
            </AuthorizeView>

        </LumexNavbarContent>
    </LumexNavbar>


    <main>
        @Body
    </main>
</div>

@code {

    private ClaimsPrincipal _user = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            _user = authState.User;
        }
    }

    private void Logout()
    {
        Nav.NavigateTo("/auth/logout", forceLoad: true);
    }
}