@using LumexUI.Common
@using LumexUI.Shared.Icons

@inject AppDbContext Db

<LumexModal Open="_open">
    <LumexModalContent>
        <LumexModalHeader>
            Edit Review
        </LumexModalHeader>

        <LumexModalBody>
            <LumexSelect TValue="int" Label="Player" @bind-Value="_model.PlayerId" Disabled>
                @foreach (var player in _players)
                {
                    <LumexSelectItem Value="@player.Id" TextValue="@player.Name">
                        @player.Name
                    </LumexSelectItem>
                }
            </LumexSelect>

            <h2>Stars:</h2>
            <LumexRadioGroup TValue="int" Orientation="@Orientation.Horizontal" Color="@ThemeColor.Warning" @bind-Value="_model.Stars" Required>
                <LumexRadio Value="1">1</LumexRadio>
                <LumexRadio Value="2">2</LumexRadio>
                <LumexRadio Value="3">3</LumexRadio>
                <LumexRadio Value="4">4</LumexRadio>
                <LumexRadio Value="5">5</LumexRadio>
            </LumexRadioGroup>

            <LumexTextbox Type="@InputType.Text" Label="Review" @bind-Value="_model.Comment" />
        </LumexModalBody>

        <LumexModalFooter>

            <LumexButton Color="@ThemeColor.Danger"
                         Variant="@Variant.Flat"
                         OnClick="@OnCloseClicked">
                Cancel
            </LumexButton>

            <LumexButton Color="@ThemeColor.Primary"
                         Variant="@Variant.Solid"
                         OnClick="SaveReview">
                Save
            </LumexButton>
        </LumexModalFooter>

    </LumexModalContent>
</LumexModal>
@code {
    [Parameter] public bool _open { get; set; }
    [Parameter] public EventCallback<bool> OnResult { get; set; }

    [Parameter] public mdReview? Review { get; set; }

    private mdReview _model = new();
    private IQueryable<mdPlayer> _players => Db.Players;

    protected override void OnParametersSet()
    {
        if(Review is null)
        {
            _model = new mdReview();
            return;
        };

        _model = new mdReview
        {
            Id = Review.Id,
            MatchId = Review.MatchId,
            PlayerId = Review.PlayerId,
            Stars = Review.Stars,
            Comment = Review.Comment
        };
        
    }


    private async Task SaveReview()
    {

            var review = await Db.Reviews.FindAsync(_model.Id);

            if (review == null)
                return;

            review.PlayerId = _model.PlayerId;
            review.Stars = _model.Stars;
            review.Comment = _model.Comment;
        

        await Db.SaveChangesAsync();

        await OnResult.InvokeAsync(true);
    }
    
    private async Task OnCloseClicked()
    {
        await OnResult.InvokeAsync(false);
    }
}
}
