@using LumexUI.Common
@using LumexUI.Shared.Icons

@inject AppDbContext Db

<LumexModal Open="_open">

    <LumexModalContent Context="modal">

        <LumexModalHeader>
            Add New Review
        </LumexModalHeader>

        <LumexModalBody>
            <LumexSelect TValue="int" Label="Player" @bind-Value="_model.PlayerId">
                @foreach (var player in _players)
                {
                    <LumexSelectItem Value="@player.Id" TextValue="@player.Name">
                        @player.Name
                    </LumexSelectItem>
                }
            </LumexSelect>

            <h2>Stars:</h2>
            <LumexRadioGroup TValue="int" Orientation="@Orientation.Horizontal" Color="@ThemeColor.Warning" @bind-Value="_model.Stars" Required>
                <LumexRadio Value="1">1</LumexRadio>
                <LumexRadio Value="2">2</LumexRadio>
                <LumexRadio Value="3">3</LumexRadio>
                <LumexRadio Value="4">4</LumexRadio>
                <LumexRadio Value="5">5</LumexRadio>
            </LumexRadioGroup>

            <LumexTextbox Type="@InputType.Text" Label="Review" @bind-Value="_model.Comment" />
        </LumexModalBody>

        <LumexModalFooter>

            <LumexButton Color="@ThemeColor.Danger"
                         Variant="@Variant.Flat"
                         OnClick="@modal.CloseAsync">
                Cancel
            </LumexButton>

            <LumexButton Color="@ThemeColor.Primary"
                         Variant="@Variant.Solid"
                         OnClick="async () => await SaveReview(modal)">
                Save
            </LumexButton>
        </LumexModalFooter>

    </LumexModalContent>
</LumexModal>
@code {
    [Parameter] public EventCallback OnSaved { get; set; }
    [Parameter] public mdReview? Review { get; set; }
    [Parameter] public string? ButtonText { get; set; }
    [Parameter] public ThemeColor ButtonColor { get; set; }

    [Parameter] public mdMatch? Match { get; set; }
    [Parameter] public bool _open { get; set; }

    private mdReview _model = new();
    private IQueryable<mdPlayer> _players => Db.Players;

    protected override void OnParametersSet()
    {
        if (Match == null)
            return;

        if(Review is null)
        {
            _model = new mdReview { MatchId = Match.Id, Stars = 3 };
        }
        else
        {
            _model = new mdReview
            {
                Id = Review.Id,
                MatchId = Review.MatchId,
                PlayerId = Review.PlayerId,
                Stars = Review.Stars,
                Comment = Review.Comment
            };
        }
    }

    private async Task SaveReview(LumexModal modal)
    {

        if (Match == null)
            return;

        if (_model.Id == 0)
        {
            _model.MatchId = Match.Id;
            Db.Reviews.Add(_model);
            
        }
        else
        {
            var review = await Db.Reviews.FindAsync(_model.Id);

            if (review == null)
                return;

            review.PlayerId = _model.PlayerId;
            review.Stars = _model.Stars;
            review.Comment = _model.Comment;
        }

        await Db.SaveChangesAsync();


        await OnSaved.InvokeAsync();

        await modal.CloseAsync();
    }
}
