@page "/{game_slug}"
@using LumexUI.Common
@using LumexUI.Shared.Icons
@using Microsoft.EntityFrameworkCore;

@inject AppDbContext Db
@inject NavigationManager Nav
@inject IStringLocalizer<SharedResource> Localizer

<div class="flex items-center gap-2 mb-4">
    <LumexLink Href="/">@Localizer["strGames"]</LumexLink>
</div>

@if (_game is null)
{
    <p>game not found</p>
}
else
{
    <LumexCard Class="mb-4">
        <LumexCardHeader Class="flex gap-4 items-start">
            <img src="@_game.Image" width="100" />
            <div class="flex flex-col gap-3 w-full text-xl">
               <h2>@_game.Name</h2>
            </div>
        </LumexCardHeader>
        <LumexCardFooter>
            <div class="flex justify-between w-full">
                <LumexChip Variant="ChipVariant.Light">
                    <StartContent>
                        @_matches.Count()
                    </StartContent>
                    <ChildContent>
                        <SwordsIcon/>
                    </ChildContent>
                </LumexChip>
                <LumexChip Variant="ChipVariant.Light">
                    <StartContent>
                        @totalDuration
                    </StartContent>
                    <ChildContent>
                        <TimerIcon />
                    </ChildContent>
                </LumexChip>
            </div>
        </LumexCardFooter>
    </LumexCard>



    @if(_matches.Count() > 0)
    {
        <LumexDataGrid Data="@_matches" T=mdMatch Layout="Layout.Fixed" OnRowClick="@GoToMatch">
            <PropertyColumn Property="@(p => p.Date)" Format="dd-MM-yyyy" Sortable="true" />
            <TemplateColumn Title="Players" Context="p" Sortable="true">
                @(p.Results.Count())
            </TemplateColumn>
            <TemplateColumn Title="Winner" Context="p" Sortable="true">
                @($"{p.Winner?.Player?.Name} ({p.Winner?.Points})" ?? "")
            </TemplateColumn>
        </LumexDataGrid>
    }
    else
    {
        <LumexAlert Title="No match found!"
                    Description="@($"There are currently no matches for {_game.Name}")" />
    }

}



@code {

    [Parameter] public string game_slug { get; set; }

    private mdGame? _game;

    private IQueryable<mdMatch> _matches =>
        _game == null
            ? Enumerable.Empty<mdMatch>().AsQueryable()
            : Db.Matches
                .Where(m => m.GameId == _game.Id)
                .Include(m => m.Location)
                .Include(m => m.Results)
                    .ThenInclude(r => r.Player)
                .OrderByDescending(m => m.Date);

    private TimeSpan totalDuration => TimeSpan.FromTicks(
        _matches
            .Where(m => m.Duration.HasValue)
            .AsEnumerable()
            .Sum(m => m.Duration.Value.Ticks)
    );

    protected override async Task OnParametersSetAsync()
    {
        _game = await Db.Games
            .FirstOrDefaultAsync(g => g.Slug == game_slug);
    }


    private void GoToMatch(DataGridRowClickEventArgs<mdMatch> match)
    {
        Nav.NavigateTo($"/{game_slug}/{match.Item.PublicId}");
    }
}
