@page "/games/{game_id:int}"
@using LumexUI.Common
@using LumexUI.Shared.Icons
@using Microsoft.EntityFrameworkCore;

@inject AppDbContext Db
@inject NavigationManager Nav


<LumexCard Class="mb-4">
    <LumexCardHeader Class="flex gap-4 items-start">
        <img src="@_game.Image" width="100" />
        <div class="flex flex-col gap-3 w-full">
           <h2>@_game.Name</h2>
        </div>
    </LumexCardHeader>
</LumexCard>


@if(_matches.Count() > 0)
{
    <LumexDataGrid Data="@_matches" T=mdMatch Layout="Layout.Fixed">
        <PropertyColumn Property="@(p => p.Date)" Format="yyyy-MM-dd" Sortable="true" />
        <TemplateColumn Title="Players" Context="p" Sortable="true">
            @(p.Results.Count())
        </TemplateColumn>
        <TemplateColumn Title="Winner" Context="p" Sortable="true">
            @($"{p.Winner?.Player?.Name} ({p.Winner?.Points})" ?? "")
        </TemplateColumn>
        <TemplateColumn Title="Actions" Context="p">
            <LumexDropdown>
                <LumexDropdownTrigger>
                    <LumexButton IconOnly Variant="@Variant.Light">
                        <EllipsisVerticalIcon/>
                    </LumexButton>
                </LumexDropdownTrigger>
                <LumexDropdownMenu>
                    <LumexDropdownItem OnClick="@(() => GoToMatchId(p.Id))">View</LumexDropdownItem>
                    <LumexDropdownItem OnClick="@(() => DeleteMatch(p.Id))" Color="@ThemeColor.Danger" Class="text-danger">Delete</LumexDropdownItem>
                </LumexDropdownMenu>
            </LumexDropdown>
        </TemplateColumn>
    </LumexDataGrid>
}
else
{
    <h2>No matches.</h2>
}


@code {
    [Parameter]
    public int game_id { get; set; }
    private mdGame _game => Db.Games.Where(g => g.Id == game_id).FirstOrDefault();

    private IQueryable<mdMatch> _matches => Db.Matches
                                            .Where(m => m.GameId == game_id)
                                            .Include(m => m.Location)
                                            .Include(m => m.Results)
                                                .ThenInclude(r => r.Player);

    private void GoToMatch(DataGridRowClickEventArgs<mdMatch> match)
    {
        Nav.NavigateTo($"/match/{match.Item.Id}");
    }

    private void GoToMatchId(int match_id)
    {
        Nav.NavigateTo($"/match/{match_id}");
    }


    private async void DeleteMatch(int match_id)
    {
        var delete_match = Db.Matches.Where(m => m.Id == match_id).FirstOrDefault();

        if (delete_match != null)
        {
            Db.Matches.Remove(delete_match);
            await Db.SaveChangesAsync();

        }
    }
}
