@page "/"
@using BoardGames.Components.Pages.Icons
@using LumexUI.Common
@using LumexUI.Shared.Icons
@using Microsoft.EntityFrameworkCore;
@using System.Globalization

@inject IStringLocalizer<SharedResource> Localizer
@inject NavigationManager Nav
@inject AppDbContext Db

<h1 class="font-bold text-2xl">@Localizer["strGames"]</h1>

<LumexTextbox Placeholder="Search by name..."
                Behavior="@InputBehavior.OnInput"
                @bind-Value="@_nameFilter">
    <StartContent>
        <SearchIcon Size="20" />
    </StartContent>
</LumexTextbox>

<div style="display:grid; grid-template-columns: repeat(2, 1fr); gap:16px;" class="mt-4">


    @foreach (var game in FilteredGames)
    {
        <LumexCard onclick="@(() => GoToMatches(game.Slug))">
            <div class="w-full aspect-square overflow-hidden">
                <img src="@game.Image"
                     class="w-full h-full object-cover object-top" />
            </div>
            <LumexCardFooter Blurred="@true">
                <div class="flex justify-between w-full">
                    <h2>@game.Name</h2>
                    <LumexChip Variant="ChipVariant.Light">
                        <StartContent>
                            @_matches.Where(m=>m.GameId == game.Id).Count()
                        </StartContent>
                        <ChildContent>
                            <SwordsIcon/>
                        </ChildContent>
                    </LumexChip>
                </div>
            </LumexCardFooter>
        </LumexCard>
    }
</div>

@code {

    private IQueryable<mdGame> _games => Db.Games;
    private IQueryable<mdMatch> _matches => Db.Matches;

    private IQueryable<mdGame> FilteredGames
    {
        get
        {
            var result = _games;

            if (!string.IsNullOrEmpty(_nameFilter))
            {
                result = result.Where(u => EF.Functions.Like(u.Name, $"%{_nameFilter}%"));
            }

            return result;
        }
    }

    private string? _nameFilter;

    private void GoToMatches(string game_slug)
    {
        Nav.NavigateTo($"/{game_slug}");
    }
}
