@page "/{game_slug}/{match_public_id}"
@using BoardGames.Components.Pages.Icons
@using LumexUI.Shared.Icons
@using Microsoft.EntityFrameworkCore;
@using LumexUI.Common;

@inject AppDbContext Db
@inject IStringLocalizer<SharedResource> Localizer
@inject NavigationManager Nav

<div class="flex justify-between">
    <div class="flex items-center gap-2 mb-4">
        <LumexLink Href="/">@Localizer["strGames"]</LumexLink>
        <p>/</p>
        <LumexLink Href="@($"/games/{game_slug}")">@_match?.Game?.Name</LumexLink>
    </div>
    <LumexDropdown Classes="@_classes">
        <LumexDropdownTrigger>
            <LumexButton IconOnly Variant="Variant.Flat" Size="Size.Small">
                <EllipsisVerticalIcon/>
            </LumexButton>
        </LumexDropdownTrigger>
        <LumexDropdownMenu>
            <LumexDropdownItem ShowDivider>
                <StartContent>
                    <ShareIcon />
                </StartContent>
                <ChildContent>Share</ChildContent>
            </LumexDropdownItem>
            <LumexDropdownItem Color="@ThemeColor.Danger" Class="text-danger" OnClick="() => _showDeleteModal = true">
                <StartContent>
                    <Trash2Icon/>
                </StartContent>
                <ChildContent>Delete</ChildContent>
            </LumexDropdownItem>
        </LumexDropdownMenu>
    </LumexDropdown>

    @if (_showDeleteModal){
        <ModalDelete OnResult="@DeleteMatch" _open="_showDeleteModal" Header="Delete match" Description="Are you sure you want to delete the current match?"/>
    }


</div>
@if(_match?.Game != null)
{
    // Display match details
    <LumexCard Class="mb-4">
        <LumexCardHeader Class="flex gap-4 items-start">

            <img src="@_match.Game.Image" width="200" />

            <div class="flex flex-col gap-3 items-start w-full">
                <LumexUser Name="Game" Description="@_match.Game.Name">
                    <AvatarContent>
                        <DiceIcon />
                    </AvatarContent>
                </LumexUser>

                <LumexUser Name="Stars" Description="@_match.Stars.ToString()">
                    <AvatarContent>
                        <StarIcon />
                    </AvatarContent>
                </LumexUser>

                <LumexUser Name="Date" Description="@_match.Date.ToString("dd-MM-yyyy")">
                    <AvatarContent>
                        <CalendarClockIcon />
                    </AvatarContent>
                </LumexUser>

                <LumexUser Name="Duration" Description="@_match.Duration?.ToString(@"hh\:mm")">
                    <AvatarContent>
                        <TimerIcon />
                    </AvatarContent>
                </LumexUser>
                
                <LumexUser Name="Location" Description="@_match.Location?.Description">
                    <AvatarContent>
                        <MapPinIcon />
                    </AvatarContent>
                </LumexUser>
                
                <LumexUser Name="Winner" Description="@_match.Winner?.Player.Name">
                    <AvatarContent>
                        <CrownIcon />
                    </AvatarContent>
                </LumexUser>
            </div>

        </LumexCardHeader>
    </LumexCard>

    // Display match results
    <LumexDataGrid T=mdResult Data="@_match.Results.AsQueryable()">
        <TemplateColumn Title="Nr.">
            @{
                var index = _match.Results
                    .OrderByDescending(r => r.Points)
                    .ToList()
                    .IndexOf(context) + 1;
            }
            <p>@($"{@index}°")</p>
        </TemplateColumn>
        <PropertyColumn Property="@(p => p.Player.Name)" Title="Player" />
        <PropertyColumn Property="@(p => p.Faction != null ? p.Faction.Name : "")" Title="Faction"/>
        <PropertyColumn Property="@(p => p.Points)" Sortable="true" Title="@Localizer["strPoints"]"/>
    </LumexDataGrid>

    // Display match reviews
    <h2 class="mt-8 mb-4">Reviews</h2>

    <ModalReview Match="@_match" OnReviewCreated="UpdateMatchData"/>

    @foreach (var review in _match.Reviews)
    {
        <LumexCard Class="max-w-sm mb-4">
            <LumexCardHeader>
                <LumexUser Name="@review.Player.Name" Description="@($"{@review.Stars.ToString()} stars")">
                    <AvatarContent>
                        <UserIcon/>
                    </AvatarContent>
                </LumexUser>
            </LumexCardHeader>
            <LumexDivider />
            <LumexCardBody>
                @review.Comment
            </LumexCardBody>
        </LumexCard>
    }

}





@code {
    [Parameter] public string match_public_id { get; set; }
    [Parameter] public string game_slug { get; set; }

    private mdMatch? _match;

    private PopoverSlots _classes = new()
    {
        Content = "p-0 border border-divider bg-background",
        Arrow = "bg-default-200"
    };

    private bool _showDeleteModal = false;

    protected override async Task OnParametersSetAsync()
    {
        await UpdateMatchData();
    }

    private async Task UpdateMatchData()
    {
        _match = await Db.Matches
            .Where(m => m.PublicId == match_public_id)
            .Include(m => m.Game)
            .Include(m => m.Location)
            .Include(m => m.Results)
                .ThenInclude(r => r.Faction)
            .Include(m => m.Results)
                .ThenInclude(r => r.Player)
            .Include(m => m.Reviews)
                .ThenInclude(r => r.Player)
            .FirstOrDefaultAsync();

        if (_match != null)
        {
            _match.Results = _match.Results
                .OrderByDescending(r => r.Points)
                .ToList();
        }
    }

    private async Task DeleteMatch(bool confirmed) 
    { 
        _showDeleteModal = false;
        if (!confirmed) return;

        var match = await Db.Matches.FirstOrDefaultAsync(m => m.PublicId == match_public_id);
        if (match != null)
        {
            Db.Matches.Remove(match);
            await Db.SaveChangesAsync();

            Nav.NavigateTo($"/games/{_match?.Game.Slug}");
        }
        
        Nav.NavigateTo($"/games/{match?.GameId}"); 
    }

    private void CloseDeleteModal()
    {
        _showDeleteModal = false;
    }
}
