@page "/{game_slug}/{match_public_id}"
@using BoardGames.Components.Pages.Icons
@using LumexUI.Shared.Icons
@using Microsoft.EntityFrameworkCore;
@using LumexUI.Common;

@inject AppDbContext Db
@inject IStringLocalizer<SharedResource> Localizer
@inject NavigationManager Nav
@inject IJSRuntime JS

<HeadContent>
    <title>@_match?.Game?.Name</title>

    <meta property="og:title" content="@_match?.Game?.Name" />
    <meta property="og:description" content="1°: @_match?.Winner?.Player.Name - @_match?.Winner?.Faction?.Name (@_match?.Winner?.Points points)" />
    <meta property="og:image" content="@_match?.Game?.Image" />
    <meta property="og:url" content="@Nav.Uri" />
</HeadContent>

<div class="flex justify-between">
    <div class="flex items-center gap-2 mb-4">
        <LumexLink Href="/">@Localizer["strGames"]</LumexLink>
        <p>></p>
        <LumexLink Href="@($"/{game_slug}")">@_match?.Game?.Name</LumexLink>
    </div>
    <LumexDropdown Classes="@_classes">
        <LumexDropdownTrigger>
            <LumexButton IconOnly Variant="Variant.Flat" Size="Size.Small">
                <EllipsisVerticalIcon/>
            </LumexButton>
        </LumexDropdownTrigger>
        <LumexDropdownMenu>
            <LumexDropdownItem ShowDivider OnClick="Share">
                <StartContent>
                    <ShareIcon />
                </StartContent>
                <ChildContent>Share</ChildContent>
            </LumexDropdownItem>
            <LumexDropdownItem Color="@ThemeColor.Danger" Class="text-danger" OnClick="() => _showDeleteModal = true">
                <StartContent>
                    <Trash2Icon/>
                </StartContent>
                <ChildContent>Delete</ChildContent>
            </LumexDropdownItem>
        </LumexDropdownMenu>
    </LumexDropdown>

    @if (_showDeleteModal){
        <ModalDelete OnResult="@DeleteMatch" _open="_showDeleteModal" Header="Delete match" Description="Are you sure you want to delete the current match?"/>
    }

    @if (_showDeleteReviewModal)
    {
        <ModalDelete OnResult="@DeleteReview" _open="_showDeleteReviewModal" Header="Delete review" Description="Are you sure you want to delete the review?" />
    }
    
    @if (_showEditReviewModal)
    {
        <ModalEditReview OnResult="EditReview" Review="@_selectedReview" _open="_showEditReviewModal"/>
    }

</div>
@if(_match?.Game != null)
{
    // Display match details
    <LumexCard Class="mb-4 max-w-sm">
        <LumexCardHeader Class="flex gap-4 items-start">

            <img src="@_match.Game.Image" width="200" />

            <div class="flex flex-col gap-3 items-start w-full">
                <LumexUser Name="Game" Description="@_match.Game.Name">
                    <AvatarContent>
                        <DiceIcon />
                    </AvatarContent>
                </LumexUser>

                <LumexUser Name="Date" Description="@_match.Date.ToString("dd-MM-yyyy")">
                    <AvatarContent>
                        <CalendarClockIcon />
                    </AvatarContent>
                </LumexUser>

                <LumexUser Name="Location" Description="@_match.Location?.Description">
                    <AvatarContent>
                        <MapPinIcon />
                    </AvatarContent>
                </LumexUser>

                <LumexUser Name="Duration" Description="@_match.Duration?.ToString(@"h\h\ mm\m")">
                    <AvatarContent>
                        <TimerIcon />
                    </AvatarContent>
                </LumexUser>
                
            </div>

        </LumexCardHeader>
        <LumexDivider />
        <LumexCardFooter>
            <div class="flex h-10 justify-evenly gap-4 w-full">
                <LumexUser Name="Winner" Description="@_match.Winner?.Player.Name">
                    <AvatarContent>
                        <CrownIcon />
                    </AvatarContent>
                </LumexUser>

                <LumexDivider Orientation="Orientation.Vertical"/>
                
                <LumexUser Name="Players" Description="@_match.Results.Count.ToString()">
                    <AvatarContent>
                        <UsersIcon />
                    </AvatarContent>
                </LumexUser>
                
                <LumexDivider Orientation="Orientation.Vertical" />

                <LumexUser Name="Stars" Description="@_match.Stars.ToString()">
                    <AvatarContent>
                        <StarIcon />
                    </AvatarContent>
                </LumexUser>

            </div>
        </LumexCardFooter>
    </LumexCard>

    // Display match results
    <LumexDataGrid T=mdResult Data="@_match.Results.AsQueryable()" Class="max-w-xl">
        <TemplateColumn Title="Nr." Class="w-10">
            @{
                var index = _match.Results
                    .OrderByDescending(r => r.Points)
                    .ToList()
                    .IndexOf(context) + 1;
            }
            <p>@($"{@index}°")</p>
        </TemplateColumn>
        <PropertyColumn Property="@(p => p.Player.Name)" Title="Player" />
        <PropertyColumn Property="@(p => p.Faction != null ? p.Faction.Name : "")" Title="Faction">
            <Content>
                <LumexUser Name="@context?.Faction?.Name">
                    <AvatarContent>
                        <div style="width:15px;height:15px;background:@context?.Faction?.Color;border-radius:50%;" />
                    </AvatarContent>
                </LumexUser>
            </Content>
        </PropertyColumn>
        <PropertyColumn Property="@(p => p.Points)" Sortable="true" Title="@Localizer["strPoints"]" Class="w-10"/>
    </LumexDataGrid>

    // Display match reviews
    <div class="mt-8 mb-4 flex gap-6 align-middle h-10 max-w-sm">
        <p class="text-xl m-auto font-bold">Reviews</p>
        <LumexDivider Orientation="Orientation.Vertical" Class="mx-auto"/>
        <div class="w-1/3">
            <ModalReview Match="@_match" OnSaved="UpdateMatchData" ButtonText="Add Review"/>
        </div>
    </div>

    @if(_match.Reviews.Count > 0)
    {        
        @foreach (var review in _match.Reviews)
        {
            <LumexCard Class="max-w-sm mb-4">
                <LumexCardHeader Class="justify-between">
                    <LumexUser Name="@review.Player.Name" Description="@($"{@review.Stars.ToString()} stars")">
                        <AvatarContent>
                            <UserIcon/>
                        </AvatarContent>
                    </LumexUser>
                    <LumexDropdown>
                        <LumexDropdownTrigger>
                            <LumexButton IconOnly Variant="@Variant.Light">
                                <EllipsisVerticalIcon />
                            </LumexButton>
                        </LumexDropdownTrigger>
                        <LumexDropdownMenu>
                            <LumexDropdownItem OnClick="() => OpenEditReviewModal(review)">Edit</LumexDropdownItem>
                            <LumexDropdownItem Color="ThemeColor.Danger" Class="text-danger" OnClick="() => OpenDeleteReviewModal(review)">Delete</LumexDropdownItem>
                        </LumexDropdownMenu>
                    </LumexDropdown>
                </LumexCardHeader>
                <LumexDivider />
                <LumexCardBody>
                    @review.Comment
                </LumexCardBody>
            </LumexCard>
        }
    }
    else
    {
        <LumexAlert Variant="@AlertVariant.Outlined" Class="mt-8" Title="There are no reviews to show." Description="Press the Add Review button to add your personal review of this match!"/>
    }

}





@code {
    [Parameter] public string match_public_id { get; set; }
    [Parameter] public string game_slug { get; set; }

    private mdMatch? _match;

    private PopoverSlots _classes = new()
    {
        Content = "p-0 border border-divider bg-background",
        Arrow = "bg-default-200"
    };

    private bool _showDeleteModal = false;
    private bool _showDeleteReviewModal = false;
    private bool _showEditReviewModal = false;
    private mdReview? _selectedReview;

    protected override async Task OnParametersSetAsync()
    {
        await UpdateMatchData();
    }

    private void OpenDeleteReviewModal(mdReview review)
    {
        _selectedReview = review;
        _showDeleteReviewModal = true;
    }

    private void OpenEditReviewModal(mdReview review)
    {
        _selectedReview = review;
        _showEditReviewModal = true;
    }

    private async Task UpdateMatchData()
    {
        _match = await Db.Matches
            .Where(m => m.PublicId == match_public_id)
            .Include(m => m.Game)
            .Include(m => m.Location)
            .Include(m => m.Results)
                .ThenInclude(r => r.Faction)
            .Include(m => m.Results)
                .ThenInclude(r => r.Player)
            .Include(m => m.Reviews)
                .ThenInclude(r => r.Player)
            .FirstOrDefaultAsync();

        if (_match != null)
        {
            _match.Results = _match.Results
                .OrderByDescending(r => r.Points)
                .ToList();
        }
    }


    private async Task EditReview(bool confirmed)
    {
        _showEditReviewModal = false;

        if (!confirmed || _selectedReview is null)
            return;

        var existing = await Db.Reviews.FindAsync(_selectedReview.Id);

        if (existing != null)
        {
            existing.Stars = _selectedReview.Stars;
            existing.Comment = _selectedReview.Comment;
            await Db.SaveChangesAsync();
            await UpdateMatchData();
   
        }

    }

    private async Task DeleteReview(bool confirmed)
    {
        _showDeleteReviewModal = false;

        if (!confirmed || _selectedReview is null)
            return;

        var review = await Db.Reviews.FirstOrDefaultAsync(r => r.Id == _selectedReview.Id);

        if (review != null)
        {
            Db.Reviews.Remove(review);
            await Db.SaveChangesAsync();
        }

        await UpdateMatchData();
    }
    

    private async Task OnReviewSaved()
    {
        _showEditReviewModal = false;
        _selectedReview = null;

        await UpdateMatchData();
    }


    private async Task DeleteMatch(bool confirmed) 
    { 
        _showDeleteModal = false;
        if (!confirmed) return;

        var match = await Db.Matches.FirstOrDefaultAsync(m => m.PublicId == match_public_id);
        if (match != null)
        {
            Db.Matches.Remove(match);
            await Db.SaveChangesAsync();

            Nav.NavigateTo($"/{_match?.Game.Slug}");
        }
        
        Nav.NavigateTo($"/{match?.GameId}"); 
    }

    private void CloseDeleteModal()
    {
        _showDeleteModal = false;
    }

    private async Task Share()
    {
        var url = Nav.Uri;

        await JS.InvokeVoidAsync("navigator.share", new
        {
            title = "Match",
            text = "Summary of the match:",
            url
        });
    }
}
