@page "/new-match"
@using Blazor.Sonner.Common
@using LumexUI.Common
@using Microsoft.EntityFrameworkCore;

@inject AppDbContext Db
@inject NavigationManager Nav
@inject ToastService Toast

@if (_newMatch.GameId != 0)
{
    <LumexCard>
        <LumexCardHeader Class="flex gap-4 items-start">
    
            <!-- Left: Image -->
            @{
                var game = _games.FirstOrDefault(g => g.Id == _newMatch.GameId);
            }
            @if (game != null)
            {
                <img src="@game.Image" width="100" />
            }

            <!-- Right: Two rows -->
            <div class="flex flex-col gap-3 w-full">
                <LumexSelect TValue="int"
                             Label="@SharedResource.NewMatch_SelectAGame"
                             @bind-Value="_newMatch.GameId"
                             Required>
                    @foreach (var game in _games)
                    {
                        <LumexSelectItem @key="@game.Id"
                                         Value="@game.Id"
                                         TextValue="@game.Name">
                            @game.Name
                        </LumexSelectItem>
                    }
                </LumexSelect>

                <LumexDatebox @bind-Value="_newMatch.Date"/>
            </div>

        </LumexCardHeader>
        <LumexDivider />
        <LumexCardBody>
            <div class="flex gap-4">
                <LumexNumbox TValue="int?"
                             Label="@SharedResource.NewMatch_DurationInMin"
                             @bind-Value="@duration"
                             class="flex-1" />

                <LumexSelect TValue="int"
                             Label="@SharedResource.NewMatch_SelectALocation"
                             @bind-Value="_newMatch.LocationId"
                             Required
                             class="flex-1">
                    @foreach (var location in _locations)
                    {
                        <LumexSelectItem @key="@location.Id"
                                         Value="@location.Id"
                                         TextValue="@location.Description">
                            @location.Description
                        </LumexSelectItem>
                    }
                </LumexSelect>
            </div>
        </LumexCardBody>
    </LumexCard>

    <div class="text-2xl mt-4 mb-4">@SharedResource.Match_Points</div>

    <LumexDataGrid Data="@_results.AsQueryable()" Layout="Layout.Fixed" Classes="_classes">
        <ToolbarContent>
            <LumexSelect Label="@SharedResource.NewMatch_SelectPlayers"
                         @bind-Values="@_selectedPlayers">

                @foreach (var player in _players)
                {
                    <LumexSelectItem @key="@player" Value="@player" TextValue="@player.Name">
                        @player.Name
                    </LumexSelectItem>
                }
            </LumexSelect>
        </ToolbarContent>
        <ChildContent>
            <PropertyColumn Property="@(p => p.Player.Name)" Title="@SharedResource.SettingsGames_Name"/>
            <EditColumn Property="@(p => p.Points)" Title="@SharedResource.Match_Points" />
            <PropertyColumn Property="@(p => p.Faction)" Title="@SharedResource.SettingsFactions_Faction">
                <Content>
                    <LumexSelect TValue="mdFaction" Label="@(context.Faction == null ? @SharedResource.NewMatch_SelectAFaction : "")" @bind-Value="context.Faction" Context="faction" Variant="InputVariant.Flat">
                        <ChildContent>
                            @foreach (var faction in _factions)
                            {
                                <LumexSelectItem @key="@faction" Value="@faction" TextValue="@faction.Name">
                                    <LumexUser Name="@faction.Name">
                                        <AvatarContent>
                                            <div style="width:30px;height:30px;background:@faction.Color;border-radius:50%;" />
                                        </AvatarContent>
                                    </LumexUser>
                                </LumexSelectItem>
                            }
                        </ChildContent>
                        <ValueContent>
                            <LumexUser Name="@faction.Name">
                                <AvatarContent>
                                    <div style="width:15px;height:15px;background:@faction.Color;border-radius:50%;" />
                                </AvatarContent>
                            </LumexUser>
                        </ValueContent>
                    </LumexSelect>
                </Content>
            </PropertyColumn>
        </ChildContent>
    </LumexDataGrid>

    <LumexButton OnClick="Savematch" Disabled="@(_results.Count() < 1)" Color="@ThemeColor.Success" Class="mt-4">@SharedResource.NewMatch_Save</LumexButton>

}


@code {

    private mdMatch _newMatch = new();
    private IQueryable<mdGame> _games => Db.Games;
    private IQueryable<mdLocation> _locations => Db.Locations;
    private IQueryable<mdPlayer> _players => Db.Players;
    private IQueryable<mdFaction> _factions => Db.Factions.Where(f => f.GameId == _newMatch.GameId);
    private ICollection<mdPlayer>? _selectedPlayers
    {
        get => _selectedPlayersBacking;
        set
        {
            _selectedPlayersBacking = value;
            UpdatePointsTable();
        }
    }

    private ICollection<mdPlayer>? _selectedPlayersBacking;

    private List<mdResult> _results = new();

    private int? duration;
    private Action<ToastModel> _toasterId = t => t.ToasterId = "toaster-rich-colors";

    private DataGridSlots _classes = new()
    {
        Thead = "[&_th]:nth-1:w-20 [&_th]:nth-3:w-80"
    };

    private static readonly Random _random = new();

    public static string GeneratePublicId()
    {
        const string chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        return new string(Enumerable.Range(0, 8)
            .Select(_ => chars[_random.Next(chars.Length)])
            .ToArray());
    }

    public async Task<string> GenerateUniqueId()
    {
        string id;

        do
        {
            id = GeneratePublicId();
        }
        while (await Db.Matches.AnyAsync(m => m.PublicId == id));

        return id;
    }

    protected override async Task OnInitializedAsync()
    {

        var lastGame = await Db.Matches
            .OrderByDescending(m => m.Date)
            .Select(m => m.Game)
            .FirstOrDefaultAsync();

        if (lastGame != null)
        {
            _newMatch.GameId = lastGame.Id;
        }
        else
        {
            _newMatch.GameId = await Db.Games.Select(g => g.Id).FirstOrDefaultAsync();
        }

        _newMatch.Date = DateTime.Now;
    }

    private void UpdatePointsTable()
    {
        if (_selectedPlayers == null)
            return;

        var existingPlayerIds = _results.Select(r => r.PlayerId).ToHashSet();
        var selectedPlayerIds = _selectedPlayers.Select(p => p.Id).ToHashSet();

        var playersToAdd = _selectedPlayers
        .Where(p => !existingPlayerIds.Contains(p.Id));

        foreach (var player in playersToAdd)
        {
            _results.Add(new mdResult
            {
                PlayerId = player.Id,
                Player = player,
                Points = 0
            });
        }

        _results.RemoveAll(r => !selectedPlayerIds.Contains(r.PlayerId));

    }

    private async Task Savematch()
    {
        if (_newMatch.GameId == 0)
        {
            Toast.Warning("Please select a game.");
            return;
        }
        if (_newMatch.LocationId == 0)
        {
            Toast.Error("Please select a location.");
            return;
        }

        foreach (var r in _results)
        {
            if (r.Faction != null)
            {
                r.FactionId = r.Faction.Id;
            }
        }

        _newMatch.PublicId = await GenerateUniqueId();
        _newMatch.Results = _results;
        _newMatch.Duration = duration.HasValue
                                ? TimeSpan.FromMinutes(duration.Value)
                                : null;

        Db.Matches.Add(_newMatch);



        await Db.SaveChangesAsync();

        
        Nav.NavigateTo($"/{_newMatch.Game.Slug}/{_newMatch.PublicId}");
    }
}
