@page "/settings/games"

@using LumexUI.Common
@using LumexUI.Shared.Icons
@using Microsoft.EntityFrameworkCore

@inject AppDbContext Db
@inject NavigationManager Nav

<LumexLink Href="/settings">Settings</LumexLink>

<LumexDivider Class="my-4"/>

<LumexDataGrid Data="@_games" SelectionMode="@SelectionMode.Multiple" @bind-SelectedItems="_selectedGames" @key="_refreshKey">
    <ToolbarContent>
        <div class="flex justify-between">
            <ModalGame ButtonText="@(_selectedGames.Count == 1 ? @SharedResource.SettingsGames_EditGame : @SharedResource.SettingsGames_AddGame)" Game="_selectedGames.FirstOrDefault()" OnSaved="UpdateData" ButtonColor="@(_selectedGames.Count == 1 ? ThemeColor.Warning : ThemeColor.Success)" />
            <LumexButton OnClick="() => _showDeleteModal = true" Disabled="_selectedGames.Count < 1" Color="@(_selectedGames.Count < 1 ? ThemeColor.Default : ThemeColor.Danger)">
                <Trash2Icon/>
                @SharedResource.SettingsGames_DeleteGame
            </LumexButton>
        </div>
    </ToolbarContent>
    <ChildContent>
        <PropertyColumn Property="@(p => p.Image )" Title="">
            <Content>
                @if (context.Image != null)
                {
                    <img src="@context.Image" class="w-[100px] h-[100px] object-cover object-top" />
                }
                else
                {
                    <div class="w-[100px] h-[100px] flex items-center justify-center">
                        <DiceIcon />
                    </div>
                }
            </Content>
        </PropertyColumn>
        <PropertyColumn Property="@(p => p.Name)" Title="@SharedResource.SettingsGames_Name" />
    </ChildContent>
</LumexDataGrid>


@if (_showDeleteModal)
{
    <ModalDelete OnResult="@DeleteSelected" _open="_showDeleteModal" Header="@SharedResource.SettingsGames_DeleteGameMsg" Description="@SharedResource.SettingsGames_AreYouSureYouWantToDeleteTheSelectedGame" />
}

@code {
    private IQueryable<mdGame> _games => Db.Games;
    private ICollection<mdGame> _selectedGames = [];
    private int _refreshKey;
    private bool _showDeleteModal = false;

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        _refreshKey++;
        _selectedGames = [];
        StateHasChanged();
    }


    private async Task DeleteSelected(bool confirmed)
    {
        _showDeleteModal = false;
        if (!confirmed) return;
        
        Db.Games.RemoveRange(_selectedGames);
        await Db.SaveChangesAsync();
        _selectedGames = [];
        await UpdateData();
    }

}

