@page "/settings/factions"

@using LumexUI.Common
@using LumexUI.Shared.Icons
@using Microsoft.EntityFrameworkCore

@inject AppDbContext Db
@inject NavigationManager Nav
@inject PinLockService PinLock


@if (!PinLock.IsUnlocked)
{
    return;
}

<LumexLink Href="/settings">@SharedResource.Settings_Settings</LumexLink>

<LumexDivider Class="my-4" />

<LumexDataGrid Data="@_factions" SelectionMode="@SelectionMode.Multiple" @bind-SelectedItems="_selectedFactions" @key="_refreshKey">
    <ToolbarContent>
        <div class="flex justify-between">
            <ModalFaction OnSaved="UpdateData" ButtonText="@(_selectedFactions.Count == 1 ? @SharedResource.SettingsFactions_EditFaction : @SharedResource.SettingsFactions_AddFaction)" Faction="@(_selectedFactions.Count == 1 ? _selectedFactions.FirstOrDefault() : null)" ButtonColor="@(_selectedFactions.Count == 1 ? ThemeColor.Warning : ThemeColor.Success)" />
            <LumexButton OnClick="() => _showDeleteModal = true" Disabled="_selectedFactions.Count < 1" Color="@(_selectedFactions.Count < 1 ? ThemeColor.Default : ThemeColor.Danger)">
                <Trash2Icon />
                @SharedResource.SettingsFactions_DeleteFaction
            </LumexButton>
        </div>
    </ToolbarContent>
    <ChildContent>
        <PropertyColumn Property="@(p => p.Game.Name)" Title="@SharedResource.SettingsFactions_Game"/>
        <PropertyColumn Property="@(p => p.Name)" Title="@SharedResource.SettingsFactions_Faction"/>
        <PropertyColumn Property="@(p => p.Color)" Title="@SharedResource.SettingsFactions_Color">
            <Content>
                <div style="width:30px;height:30px;background:@context.Color;border-radius:50%;" />
            </Content>
        </PropertyColumn>
    </ChildContent>
</LumexDataGrid>

@if (_showDeleteModal)
{
    <ModalDelete OnResult="@DeleteSelected" _open="_showDeleteModal" Header="@SharedResource.SettingsFactions_DeleteFactionMsg" Description="@SharedResource.SettingsFactions_AreYouSureYouWantToDeleteTheSelectedFaction" />
}

@code {
    private IQueryable<mdFaction> _factions => Db.Factions.OrderBy(f => f.Game.Name);
    private ICollection<mdFaction> _selectedFactions = [];
    private int _refreshKey;
    private bool _showDeleteModal = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await PinLock.InitializeAsync();

        if (!PinLock.IsUnlocked)
        {
            Nav.NavigateTo("/pin");
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        _refreshKey++;
        _selectedFactions = [];
        StateHasChanged();
    }

    private async Task DeleteSelected(bool confirmed)
    {
        _showDeleteModal = false;
        if (!confirmed) return;
        
        Db.Factions.RemoveRange(_selectedFactions);
        await Db.SaveChangesAsync();
        _selectedFactions = [];
        await UpdateData();
    }

}

