@page "/settings/players"
@attribute [Authorize(Roles = "Admin")]

@using LumexUI.Common
@using LumexUI.Shared.Icons
@using Microsoft.EntityFrameworkCore
@using Blazor.Sonner.Common

@inject AppDbContext Db
@inject NavigationManager Nav
@inject ToastService Toast



@if (!_ready)
{
    return;
}

<div class="fixed z-100">
    <LumexToastProvider Id="toaster" RichColors="@true" />
</div>

<LumexLink Href="/settings">@SharedResource.Settings_Settings</LumexLink>

<LumexDivider Class="my-4" />

<LumexDataGrid Class="max-h-[calc(100dvh-8rem)] overflow-auto" StickyHeader Data="@_players.AsQueryable()" SelectionMode="@SelectionMode.Multiple" @bind-SelectedItems="_selectedPlayers" @key="_refreshKey">
    <ToolbarContent>
        <div class="flex justify-between">
            <ModalPlayer ButtonText="@(_selectedPlayers.Count == 1 ? @SharedResource.SettingsPlayers_EditPlayer : @SharedResource.SettingsPlayers_AddPlayer)" Player="@(_selectedPlayers.Count == 1 ? _selectedPlayers.FirstOrDefault() : null)" OnSaved="UpdateData" ButtonColor="@(_selectedPlayers.Count == 1 ? ThemeColor.Warning : ThemeColor.Success)" />
            <LumexButton OnClick="() => _showDeleteModal = true" Disabled="_selectedPlayers.Count < 1" Color="@(_selectedPlayers.Count < 1 ? ThemeColor.Default : ThemeColor.Danger)">
                <Trash2Icon />
                @SharedResource.SettingsPlayers_DeletePlayer
            </LumexButton>
        </div>
    </ToolbarContent>
    <ChildContent>
        <PropertyColumn Property="@(p => p.Name)" Title="@SharedResource.SettingsGames_Name" />
        <PropertyColumn Property="@(p => p.IsAdmin)" Context="ctx" Title="Admin">
            <Content>
                <LumexSwitch @bind-Value="@ctx.IsAdmin"/>
            </Content>
        </PropertyColumn>
    </ChildContent>
</LumexDataGrid>

<LumexButton OnClick="Savesettings" Color="@ThemeColor.Success" Class="mt-4 mb-16">@SharedResource.NewMatch_Save</LumexButton>


@if (_showDeleteModal)
{
    <ModalDelete OnResult="@DeleteSelected" _open="_showDeleteModal" Header="@SharedResource.SettingsPlayers_DeletePlayerMsg" Description="@SharedResource.SettingsPlayers_AreYouSureYouWantToDeleteTheSelectedPlayer" />
}


@code {
    private List<mdPlayer> _players = [];
    private ICollection<mdPlayer> _selectedPlayers = [];
    private int _refreshKey;
    private bool _showDeleteModal = false;
    private bool _ready;
    private Action<ToastModel> _toasterId = t => t.ToasterId = "toaster";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await UpdateData();

        _ready = true;

        StateHasChanged();
    }


    private async Task UpdateData()
    {
        _players = await Db.Players.OrderBy(p => p.Name).ToListAsync();
        _refreshKey++;
        _selectedPlayers = [];
    }


    private async Task DeleteSelected(bool confirmed)
    {
        _showDeleteModal = false;
        if (!confirmed) return;
        
        Db.Players.RemoveRange(_selectedPlayers);
        await Db.SaveChangesAsync();
        _selectedPlayers = [];
        await UpdateData();
    }

    
    private async Task Savesettings(){

        if (!_players.Any(p => p.IsAdmin))
        {
            Toast.Error("At least one player must be admin!", _toasterId);
            return;
        }

        await Db.SaveChangesAsync();
        await UpdateData();
    }

}

