@using LumexUI.Common
@using Microsoft.EntityFrameworkCore

@inject AppDbContext Db
@inject NavigationManager Nav


<LumexDataGrid Data="@_games" SelectionMode="@SelectionMode.Multiple" @bind-SelectedItems="_selectedGames" @key="_refreshKey">
    <ToolbarContent>
        <div class="max-w-sm">
            <ModalGame OnCreated="UpdateData" />
            <LumexButton OnClick="() => _showDeleteModal = true" Disabled="_selectedGames.Count < 1">Delete Selected</LumexButton>
        </div>
    </ToolbarContent>
    <ChildContent>
        <PropertyColumn Property="@(p => p.Image )">
            <Content>
                <img src="@context.Image" class="w-[100px] h-[100px] object-cover object-top" />
            </Content>
        </PropertyColumn>
        <PropertyColumn Property="@(p => p.Name)" />
    </ChildContent>
</LumexDataGrid>


@if (_showDeleteModal)
{
    <ModalDelete OnResult="@DeleteSelected" _open="_showDeleteModal" Header="Delete game" Description="Are you sure you want to delete the selected game?" />
}

@code {
    private IQueryable<mdGame> _games => Db.Games;
    private ICollection<mdGame> _selectedGames = [];
    private int _refreshKey;
    private bool _showDeleteModal = false;

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        _refreshKey++;
        StateHasChanged();
    }


    private async Task DeleteSelected(bool confirmed)
    {
        _showDeleteModal = false;
        if (!confirmed) return;

        Db.Games.RemoveRange(_selectedGames);
        await Db.SaveChangesAsync();
        await UpdateData();
    }

}

