@page "/settings/locations"

@using LumexUI.Common
@using LumexUI.Shared.Icons
@using Microsoft.EntityFrameworkCore

@inject AppDbContext Db
@inject NavigationManager Nav

<LumexLink Href="/settings">Settings</LumexLink>

<LumexDivider Class="my-4" />

<LumexDataGrid Data="@_locations.AsQueryable()" SelectionMode="@SelectionMode.Multiple" @bind-SelectedItems="_selectedLocations" @key="_refreshKey">
    <ToolbarContent>
        <div class="flex justify-between">
            <ModalLocation ButtonText="@(_selectedLocations.Count == 1 ? @SharedResource.SettingsLocations_EditLocation :@SharedResource.SettingsLocations_AddLocation)" Location="@(_selectedLocations.Count == 1 ? _selectedLocations.FirstOrDefault() : null)" OnSaved="UpdateData" ButtonColor="@(_selectedLocations.Count == 1 ? ThemeColor.Warning : ThemeColor.Success)" />
            <LumexButton OnClick="() => _showDeleteModal = true" Disabled="_selectedLocations.Count < 1" Color="@(_selectedLocations.Count < 1 ? ThemeColor.Default : ThemeColor.Danger)">
                <Trash2Icon />
                @SharedResource.SettingsLocations_DeleteLocation
            </LumexButton>
        </div>
    </ToolbarContent>
    <ChildContent>
        <PropertyColumn Property="@(p => p.Description)" Title="@SharedResource.SettingsGames_Name" />
    </ChildContent>
</LumexDataGrid>

@if (_showDeleteModal)
{
    <ModalDelete OnResult="@DeleteSelected" _open="_showDeleteModal" Header="@SharedResource.SettingsLocations_DeleteLocationMsg" Description="@SharedResource.SettingsLocations_AreYouSureYouWantToDeleteTheSelectedLocation" />
}

@code {
    private List<mdLocation> _locations = new();
    private ICollection<mdLocation> _selectedLocations = [];
    private int _refreshKey;
    private bool _showDeleteModal = false;
    
    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        _locations = await Db.Locations.OrderBy(l => l.Description).ToListAsync();
        _refreshKey++;
        _selectedLocations = [];
        StateHasChanged();
    }

    private async Task DeleteSelected(bool confirmed)
    {
        _showDeleteModal = false;
        if (!confirmed) return;

        Db.Locations.RemoveRange(_selectedLocations);
        await Db.SaveChangesAsync();
        _selectedLocations = [];
        await UpdateData();
    }

}

