@using LumexUI.Common
@using LumexUI.Shared.Icons
@using Microsoft.EntityFrameworkCore

@inject AppDbContext Db
@inject NavigationManager Nav


<LumexDataGrid Data="@_players" SelectionMode="@SelectionMode.Multiple" @bind-SelectedItems="_selectedPlayers" @key="_refreshKey">
    <ToolbarContent>
        <div class="flex justify-between">
            <ModalPlayer ButtonText="@(_selectedPlayers.Count == 1 ? "Edit Player" : "Add Player")" Player="@(_selectedPlayers.Count == 1 ? _selectedPlayers.FirstOrDefault() : null)" OnSaved="UpdateData" ButtonColor="@(_selectedPlayers.Count == 1 ? ThemeColor.Warning : ThemeColor.Success)" />
            <LumexButton OnClick="() => _showDeleteModal = true" Disabled="_selectedPlayers.Count < 1" Color="@(_selectedPlayers.Count < 1 ? ThemeColor.Default : ThemeColor.Danger)">
                <Trash2Icon />
                Delete Player
            </LumexButton>
        </div>
    </ToolbarContent>
    <ChildContent>
        <PropertyColumn Property="@(p => p.Name)" />
    </ChildContent>
</LumexDataGrid>

@if (_showDeleteModal)
{
    <ModalDelete OnResult="@DeleteSelected" _open="_showDeleteModal" Header="Delete player" Description="Are you sure you want to delete the selected player?" />
}


@code {
    private IQueryable<mdPlayer> _players => Db.Players;
    private ICollection<mdPlayer> _selectedPlayers = [];
    private int _refreshKey;
    private bool _showDeleteModal = false;

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        _refreshKey++;
        _selectedPlayers = [];
        StateHasChanged();
    }


    private async Task DeleteSelected(bool confirmed)
    {
        _showDeleteModal = false;
        if (!confirmed) return;
        
        Db.Players.RemoveRange(_selectedPlayers);
        await Db.SaveChangesAsync();
        _selectedPlayers = [];
        await UpdateData();
    }

}

