@page "/settings/players"

@using LumexUI.Common
@using LumexUI.Shared.Icons
@using Microsoft.EntityFrameworkCore

@inject AppDbContext Db
@inject NavigationManager Nav
@inject PinLockService PinLock


@if (!PinLock.IsUnlocked)
{
    return;
}

<LumexLink Href="/settings">@SharedResource.Settings_Settings</LumexLink>

<LumexDivider Class="my-4" />

<LumexDataGrid Data="@_players.AsQueryable()" SelectionMode="@SelectionMode.Multiple" @bind-SelectedItems="_selectedPlayers" @key="_refreshKey">
    <ToolbarContent>
        <div class="flex justify-between">
            <ModalPlayer ButtonText="@(_selectedPlayers.Count == 1 ? @SharedResource.SettingsPlayers_EditPlayer : @SharedResource.SettingsPlayers_AddPlayer)" Player="@(_selectedPlayers.Count == 1 ? _selectedPlayers.FirstOrDefault() : null)" OnSaved="UpdateData" ButtonColor="@(_selectedPlayers.Count == 1 ? ThemeColor.Warning : ThemeColor.Success)" />
            <LumexButton OnClick="() => _showDeleteModal = true" Disabled="_selectedPlayers.Count < 1" Color="@(_selectedPlayers.Count < 1 ? ThemeColor.Default : ThemeColor.Danger)">
                <Trash2Icon />
                @SharedResource.SettingsPlayers_DeletePlayer
            </LumexButton>
        </div>
    </ToolbarContent>
    <ChildContent>
        <PropertyColumn Property="@(p => p.Name)" Title="@SharedResource.SettingsGames_Name" />
    </ChildContent>
</LumexDataGrid>

@if (_showDeleteModal)
{
    <ModalDelete OnResult="@DeleteSelected" _open="_showDeleteModal" Header="@SharedResource.SettingsPlayers_DeletePlayerMsg" Description="@SharedResource.SettingsPlayers_AreYouSureYouWantToDeleteTheSelectedPlayer" />
}


@code {
    private List<mdPlayer> _players = new();
    private ICollection<mdPlayer> _selectedPlayers = [];
    private int _refreshKey;
    private bool _showDeleteModal = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await PinLock.InitializeAsync();

        if (!PinLock.IsUnlocked)
        {
            Nav.NavigateTo("/pin");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        _players = await Db.Players.OrderBy(p => p.Name).ToListAsync();
        _refreshKey++;
        _selectedPlayers = [];
        StateHasChanged();
    }


    private async Task DeleteSelected(bool confirmed)
    {
        _showDeleteModal = false;
        if (!confirmed) return;
        
        Db.Players.RemoveRange(_selectedPlayers);
        await Db.SaveChangesAsync();
        _selectedPlayers = [];
        await UpdateData();
    }

}

