@using LumexUI.Common
@using Microsoft.EntityFrameworkCore

@inject AppDbContext Db
@inject NavigationManager Nav


<LumexDataGrid Data="@_factions" SelectionMode="@SelectionMode.Multiple" @bind-SelectedItems="_selectedFactions" @key="_refreshKey">
    <ToolbarContent>
        <div class="max-w-sm">
            <ModalFaction OnCreated="UpdateData"/>
            <LumexButton OnClick="() => _showDeleteModal = true" Disabled="_selectedFactions.Count < 1">Delete Selected</LumexButton>
        </div>
    </ToolbarContent>
    <ChildContent>
        <PropertyColumn Property="@(p => p.Game.Name)" />
        <PropertyColumn Property="@(p => p.Name)" />
        <PropertyColumn Property="@(p => p.Color)">
            <Content>
                <div style="width:30px;height:30px;background:@context.Color;border-radius:50%;" />
            </Content>
        </PropertyColumn>
    </ChildContent>
</LumexDataGrid>

@if (_showDeleteModal)
{
    <ModalDelete OnResult="@DeleteSelected" _open="_showDeleteModal" Header="Delete faction" Description="Are you sure you want to delete the selected faction?" />
}

@code {
    private IQueryable<mdFaction> _factions => Db.Factions;
    private ICollection<mdFaction> _selectedFactions = [];
    private int _refreshKey;
    private bool _showDeleteModal = false;
    
    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        _refreshKey++;
        StateHasChanged();
    }

    private async Task DeleteSelected(bool confirmed)
    {
        _showDeleteModal = false;
        if (!confirmed) return;

        Db.Factions.RemoveRange(_selectedFactions);
        await Db.SaveChangesAsync();
        await UpdateData();
    }

}

